.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 50px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    font-family: var(--font);
    background-image: linear-gradient(to right, #C0597D, #A263A1, #7072B4, #2C7CB2, #00809E, #008080);
    margin: 8px;
    border-radius: 10px;
}

footer .footer__text {
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.footer__btn button {
    padding: 15px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    font-family: var(--font);
}
